@model BitirmeTeziML.Model.ModelInput

@{ ViewData["Title"] = "Emoji Tespit"; }
<br />
<h2>Emoji Tespiti</h2>
<hr />
@{ var score = ViewBag.Score;
    var prediction = ViewBag.Prediction;
    var secilenler = ViewBag.Secilenler; }
<div class="row">

    <style type="text/css">
        .ic_bolme {
            float: left;
            margin-right: 4px;
        }
    </style>
   
    <div class="col-md-6">
        <br />
        <label asp-for="Sentence" class="control-label"></label>
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group ic_bolme ">
                <input asp-for="Sentence" class="form-control " width="1000" />
                <span asp-validation-for="Sentence" class="text-danger"></span>
            </div>
            <div class="form-group ic_bolme">
                <input type="submit" value="Check" class="btn btn-primary" />
            </div>
        </form>


    </div>
    <div class="col-md-6">
        @if (secilenler != null)
        {
            <h4>Emojis</h4>
            <hr />
@foreach (var item in secilenler)
{
<h4>@item</h4>}}
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}